{% require "styles/index.css" %}
{% require "scripts/index.js" %}
{% use "schemas/config" as config %}

<div class="stage">
  <div class="stage-content" style="background-image:url({{config.bgImg}})">
    <div class="stage-title" style="background-image:url({{config.titleMain}})"></div>
    <div class="hey-man" style="background-image:url({{config.heyMan}})"></div>
    <div class="btn-group">
      <div id="btnCenter" style="background-image:url({{config.btnCenter}})"></div>
      <div id="btnRight" style="background-image:url({{config.btnRight}})"></div>
    </div>
    <h1 class="title-program">节目单</h1>
  </div>
  <div id="present">
    <div class="present-content" style="background-image:url({{config.presentBgImg}})">
      <h1 class="present-title">市场回顾</h1>
      <div class="present-text"></div>
      <div class="present-audio"></div>
      <div id="knowBtn" style="background-image:url({{config.oKnowBtn}})"></div>
    </div>
  </div>
  <div id="review">
    <div class="review-content">
      <div id="reviewCloseBtn" style="background-image:url({{config.presentCloseBtn}})"></div>  
      <h1 class="review-title">感谢您的献花，为您送上本周基金推荐</h1>
      <div class="review-item">
        <div class="item-part item-left">
          <div class="item-left-num">+29.99%</div>
          <div class="item-desc">近一年涨幅</div>
        </div>
        <div class="item-part item-center">
          <div class="item-center-title">汇添富消费行业混合</div>
          <div class="item-desc">专注投资消费板块</div>
        </div>
        <div class="item-part item-right">
          <div class="goToSee" style="background-image:url({{config.goToSee}})"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% enduse %}